<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>loginDashboard.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>profileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeatherServlet</servlet-name>
        <servlet-class>Servlet.WeatherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageSearchServlet</servlet-name>
        <servlet-class>Servlet.ImageSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>Servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Servlet.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeatherServlet</servlet-name>
        <url-pattern>/WeatherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageSearchServlet</servlet-name>
        <url-pattern>/ImageSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
